<h1>New addition</h1>

<form action="/wizard_add">
  <label for="first_field">Add this: </label>
  <input id="first_field" name="first_number" type="text">

  <label for:"second_field">to this: </label>
  <input id="second_field" name="second_number" type="text">

  <button>
    Add!
  </button>
</form>
